# Opis notatnika
W tym notatniku zanjdować się będą symulowane walki pomiędzy najlepszymi drużynami znajdowanymi w różnych iteracjach różnych eksperymentów.
Będzie to jedna z form sprawdzenia, która ze znalezionych drużyn jest najsilniejsza względem innych silnych zespołów

### Importy

In [4]:
import sys
from pathlib import Path

SRC = (Path("..")).resolve()
if str(SRC) not in sys.path:
    sys.path.insert(0, str(SRC))

In [12]:
from data.data import get_pokemons
from simulation.simulation import simulate_battle
from classes.pokemon_team import PokemonTeam
from simulation.formulas import multiply_type_multiplier, damage_attack_devide_defense

### Inicjalizacjia pokemonów

In [3]:
pokemons = get_pokemons()  # Ostatnie ewolucje

print("Liczba pokemonów:", len(pokemons))
print("Kolumny:", list(pokemons.columns)[:20], "...")
display(pokemons.head(3))

Liczba pokemonów: 359
Kolumny: ['against_bug', 'against_dark', 'against_dragon', 'against_electric', 'against_fairy', 'against_fighting', 'against_fire', 'against_flying', 'against_ghost', 'against_grass', 'against_ground', 'against_ice', 'against_normal', 'against_poison', 'against_psychic', 'against_rock', 'against_steel', 'against_water', 'attack', 'defense'] ...

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fighting,against_fire,against_flying,against_ghost,against_grass,...,defense,hp,name,pokedex_number,sp_attack,sp_defense,speed,type1,type2,is_legendary
2,1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,...,123,80,Venusaur,3,122,120,80,grass,poison,0
5,0.25,1.0,1.0,2.0,0.5,0.5,0.5,1.0,1.0,0.25,...,78,78,Charizard,6,159,115,100,fire,flying,0
8,1.00,1.0,1.0,2.0,1.0,1.0,0.5,1.0,1.0,2.00,...,120,79,Blastoise,9,135,115,78,water,NaN,0

### Tworzenie drużyn na podstawie nazw

In [6]:
def create_pokemon_tean_based_on_names(names):
    members  = pokemons[pokemons['name'].isin(names)]
    return PokemonTeam(members)

### Walka

In [17]:
def compare_teams(team1, team2):
    result = simulate_battle(team1, team2,
                             multiply_type_multiplier,
                             damage_attack_devide_defense,)

    print("Team1:", team1)
    print("Team2:", team2)
    print("Team1 remaining HP:", result, " / ", sum(team1.get_hps()))

    print("Winner is Team1" if result > 0 else "Winner is Team2")

    return team1 if result > 0 else team2

### Inicjalizacja drużyn

In [ ]:
best_ea_team_names = ['Snorlax', 'Salamence', 'Gigalith', 'Wobbuffet', 'Lapras', 'Galvantula']
best_sa_team_names = ['Gogoat', 'Rhyperior', 'Ampharos', 'Blissey', 'Drifblim', 'Wailord']

In [ ]:
sa_team = create_pokemon_tean_based_on_names(best_sa_team_names)
eq_team = create_pokemon_tean_based_on_names(best_eq_team_names)

print("SA team:", sa_team)
print("EA team:", eq_team)

SA team: PokemonTeam(size=6, names=['Ampharos', 'Blissey', 'Wailord', 'Drifblim', 'Rhyperior', 'Gogoat'])
EQ team: PokemonTeam(size=6, names=['Lapras', 'Snorlax', 'Wobbuffet', 'Salamence', 'Gigalith', 'Galvantula'])

### Symulacja walki

In [18]:
winner = compare_teams(sa_team, eq_team)

Team1: PokemonTeam(size=6, names=['Ampharos', 'Blissey', 'Wailord', 'Drifblim', 'Rhyperior', 'Gogoat'])
Team2: PokemonTeam(size=6, names=['Lapras', 'Snorlax', 'Wobbuffet', 'Salamence', 'Gigalith', 'Galvantula'])
Team1 remaining HP: 403  /  903
Winner is Team1